# EmailJS Configuration
# Copy this file to .env and fill in your actual values

REACT_APP_EMAILJS_SERVICE_ID=service_sriqfff
REACT_APP_EMAILJS_TEMPLATE_ID=template_8r4ntsc 
REACT_APP_EMAILJS_PUBLIC_KEY=LuWpbw2Hm0NuaU4wg
